<!doctype html>

<html class="no-js" lang="en">
<head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <!-- Page Title Here -->
  <title>   Hack off
  </title>
     <link rel="icon" href="./img/logo1.png">
  

  <!-- Meta -->
  <!-- Page Description Here -->
  <meta name="description" content="Hackoff 2019">
  <!-- Disable screen scaling-->
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1, user-scalable=0">
  <!-- Twitter Meta -->
  <meta name="twitter:site" content="Hackoff">
  <meta name="twitter:creator" content="Hackoff">
  <meta name="twitter:card" content="Hackoff 2019">
  <meta name="twitter:title" content="Hackoff">
  <meta name="twitter:description" content="Hackoff 2019">
  <meta name="twitter:image" content="/img/bg-default.jpg">	
  <!-- Facebook Meta -->
  <meta property="og:url" content="Hackoff 2019">
  <meta property="og:title" content="Hackoff 2019">
  <meta property="og:description" content="Hackoff">
  <meta property="og:type" content="website">
  <meta property="og:image" content="/img/bg-default.jpg">
  <meta property="og:image:secure_url" content="/img/bg-default.jpg">
  <meta property="og:image:type" content="image/jpg">
  <meta property="og:image:width" content="1200">
  <meta property="og:image:height" content="630">
  <!-- Place favicon.ico and apple-touch-icon(s) in the root directory -->
  <!-- Web fonts and Web Icons -->
  <link rel="stylesheet" href="./fonts/opensans/stylesheet.css">
  <link rel="stylesheet" href="./fonts/bebas/stylesheet.css">
  <link rel="stylesheet" href="./fonts/ionicons.min.css">
  <link rel="stylesheet" href="./fonts/font-awesome.min.css">
  <!-- Vendor CSS style -->
  <link rel="stylesheet" href="./css/pageloader.css">
  <!-- Uncomment below to load individualy vendor CSS -->
  <link rel="stylesheet" href="./css/bootstrap.min.css">
  <link rel="stylesheet" href="./js/vendor/swiper.min.css">
  <link rel="stylesheet" href="./js/vendor/jquery.fullpage.min.css">
  <link rel="stylesheet" href="./js/vegas/vegas.min.css">
  <!-- Main CSS files -->
  <link rel="stylesheet" href="./css/main.css">
  <!-- add alt layout here -->
  <link rel="stylesheet" href="./css/style-default.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <script src="./js/vendor/modernizr-2.7.1.min.js"></script>
</head>
<body id="menu" class="body-page">
  <!--[if lt IE 8]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
  <!-- Page Loader : just comment these lines to remove it -->
  <div class="page-loader" id="page-loader">
    <div>
      <div class="icon ion-spin"></div>
      <p>loading</p>
    </div>
  </div>
  <!-- BEGIN OF site header Menu -->
  <header class="page-header navbar page-header-alpha scrolled-white menu-right topmenu-right">
    <!-- Begin of menu icon toggler -->
    <!--t<button class="navbar-oggler site-menu-icon" id="navMenuIcon">
      
      <span class="menu-icon menu-icon-random">
        <span class="bars">
          <span class="bar1"></span>
          <span class="bar2"></span>
          <span class="bar3"></span>
        </span>
      </span>
    </button>-->
    <!-- End of menu icon toggler -->
    <!-- Begin of logo/brand -->
    <a class="navbar-brand" href="#">
      <span class="logo">
        <img class="light-logo" src="./img/logo.png" alt="Logo">
      </span>

      <!--
      <span class="text">
        <span class="line">.</span>
        <span class="line sub">Portfolio Template</span>
      </span>
  -->
    </a>
    <!-- End of logo/brand -->
    <!-- begin of menu wrapper -->
   <div class="all-menu-wrapper" id="navbarMenu">
      <!-- Begin of hamburger mainmenu menu -->
     <!--use for VIEW <nav class="navbar-mainmenu">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="index.html#home">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./gallery.html">Gallery</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./item.html">Item</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./demo.html">Demo</a>
          </li>
        </ul>
      </nav>-->
      <!-- End of hamburger mainmenu menu -->
      <!-- Begin of sidebar nav menu params class: text-only / icon-only-->
      <nav class="navbar-sidebar ">
        <ul class="navbar-nav" id="qmenu">
          <li class="nav-item" data-menuanchor="home">
            <a href="#home">
              <i class="icon ion-ios-home-outline"></i>
              <span class="txt">Home</span>
            </a>
          </li>
          <li class="nav-item" data-menuanchor="about">
            <a href="#about">
              <i class="icon ion-ios-information-outline"></i>
              <span class="txt">About</span>
            </a>
          </li>
          <li class="nav-item" data-menuanchor="services">
            <a href="#services">
              <i class="icon ion-ios-list-outline"></i>
              <span class="txt">Domains</span>
            </a>
          </li>
          <li class="nav-item" data-menuanchor="Projects">
            <a href="#projects">
              <i class="icon ion-ios-compose-outline"></i>
              <span class="txt">Sponsors</span>
            </a>
          </li>
          <li class="nav-item" data-menuanchor="register">
            <a href="#register">
              <i class="icon ion-ios-compose-outline"></i>
              <span class="txt">Register</span>
            </a>
          </li>
          </li>
         
           <li class="nav-item" data-menuanchor="team">
            <a href="#team">
              <i class="icon ion-ios-albums-outline"></i>
              <span class="txt">Team</span>
            </a>
          </li>
          <li class="nav-item" data-menuanchor="contact">
            <a href="#contact">
              <i class="icon ion-ios-telephone-outline"></i>
              <span class="txt">Contact</span>
            </a>
          </li>
          
        </ul>
      </nav>
      <!-- End of sidebar nav menu -->
    </div>
    <!-- end of menu wrapper -->
  </header>
  <!-- END OF site header Menu-->
  <!-- BEGIN OF page cover -->
  <div class="page-cover">
    <!-- Cover Background -->
    <div class="cover-bg bg-img" data-image-src="img/bg-default1.jpg"></div>
    <!-- Transluscent mask as filter -->
    <div class="cover-bg-mask bg-color" data-bgcolor="rgba(2, 3, 10, 0.7)"></div>
  </div>
  <!--END OF page cover -->
  <!-- BEGIN OF page main content -->
  <main class="page-main page-fullpage main-anim" id="mainpage">
    <!-- Begin of home section -->
    <div class="section section-home fullscreen-md fp-auto-height-responsive main-home"
    data-section="home">
      <!-- Begin of section wrapper -->
      <div class="section-wrapper">
        <!-- content -->
        <div class="section-content anim">
          <div class="row">
            <div class="section section-description fp-auto-height-responsive ">
              <!-- title and description -->
              
              <div class="title-desc">
                <h1 ><img class="logo" src="./img/logo_white.png" alt="Logo"></h1>
                <h4 class="anim-2"><br><br>A 24 hour long hackathon, Hack Off is inviting young minds from all across the nation, to come together to put up the greatest show the digital realm has ever seen.</h4>
              </div>
              <!-- Action button -->
              <div class="btns-action anim-3">
                <a class="btn btn-outline-white btn-round" href="#about">
                  Get started
                </a>
              </div>
            </div>
        </div>
            <!-- begin of right content -->
           <!-- <div class="col-12 col-md-6 right-content hidden-sm center-vh">
              <div class="section-content">
                <div class="illustr zoomout-1">
                  <img class="logo" src="./img/logo_white.png" alt="Logo">
                </div>
              </div>
            </div>-->
            <!-- end of right content -->
          </div>
        </div>
        <!-- Arrows scroll down/up -->
        <footer class="section-footer scrolldown">
          <a class="down">
            <span class="icon"></span>
            <span class="txt">About us</span>
          </a>
        </footer>
      </div>
      <!-- End of section wrapper -->
    </div>
    <!-- End of home section -->
    <!-- Begin of description section -->
    <div class="section section-description fp-auto-height-responsive " data-section="about">
      <!-- Begin of section wrapper -->
      <div class="section-wrapper center-vh dir-col anim">
        <!-- title -->
        <div class="section-title text-center">
          <h5 class="title-bg">About</h5>
          <h2 class="display-4 display-title anim-2">Hack off by IET</h2>
        </div>
        <!-- content -->
        <div class="section-content reduced anim text-left">
          <!-- title and description -->
          <div class="title-desc anim-3">
            <p>The world is going digital, so are we. In this digital world, code is the dominant language, communities are built around it, making countless revolutions and breaking barriers. Everything in this world is coded and cracking this code is a delight in disguise.Just when you thought everything has come to a close, we bring you the inception. We present to you, ‘Hack Off’, a one of a kind hack, where your innovation defines you. It shows how you wish your world to be today and where you see it in the future.A 24 hour long hackathon, Hack Off is inviting young minds from all across the nation, to come together to put up the greatest show the digital realm has ever seen. Hack Off is not just a hackathon, its a celebration, complete with fun events, games, and exciting prizes!Designed to get your minds running and hearts racing.
			Unleash the innovator in you, and explore a world with endless possibilities.Join us this December, for HACK OFF!</p>
          </div>
        </div>
        <!-- Arrows scroll down/up -->
        <footer class="section-footer scrolldown">
          <a class="down">
            <span class="icon"></span>
            <span class="txt">Domain</span>
          </a>
        </footer>
      </div>
      <!-- End of section wrapper -->
    </div>
    <!-- End of description section -->
    
    <!-- Begin of list feature section -->
    <div class="section section-home fullscreen-md fp-auto-height-responsive main-home "style="margin-left:20px" data-section="services">
      <!-- Begin of section wrapper -->
      <div class="section-wrapper twoside anim">
        <!-- title -->
        <div class="section-title text-center">
          <h2 class="display-4 display-title title-bg">Domain</h2>
          <h2 class="display-4 display-title anim-2">YOUR IDEA YOUR CHOICE</h2>
        </div>

        <!-- text or illustration order are manipulated via Bootstrap order-md-1, order-md-2 class -->
        <!-- begin of item -->
        <div class="item row justify-content-between fade-1" style="margin-left:40px">
          <!-- begin of column content -->
          <div class="col-12 col-md-6 col-lg-6">
            <!-- content -->
            <div class="section-content">
              <!-- a media object -->
              <div class="media">
                <div class="img d-flex mr-3"style="margin-bottom:20px">
                  <i class="icon ion-ios-browsers-outline"></i>
                </div>
                <div class="media-body"style="margin-bottom:20px">
                  <h4>Data Science</h4>
                  <br>
						    <!-- End of menu icon toggler -->
						    <!-- begin of menu wrapper -->
						   <div class="all-menu-wrapper" id="navbarMenu">
			                    <p class="all-menu-wrapper" id="navbarMenu"></p>
			                </div>

                 
                </div>
              </div>
              <!-- a media object -->
              <div class="media">
                <div class="img d-flex mr-3"style="margin-bottom:20px">
                  <i class="icon ion-ios-cog-outline"></i>
                </div>
                <div class="media-body"style="margin-bottom:20px">
                  <h4>Block Chain</h4>
                  <p></p>
                </div>
              </div>
              <!-- a media object -->
              <div class="media">
                <div class="img d-flex mr-3"style="margin-bottom:20px">
                  <i class="icon ion-ios-analytics-outline"></i>
                </div>
                <div class="media-body"style="margin-bottom:20px">
                  <h4>AR and VR</h4>
                  <p></p>
                </div>
              </div>
            </div>
          </div>
          <!-- end of column content -->
          <!-- begin of column content -->
          <div class="col-12 col-md-6 col-lg-6">
            <!-- content -->
            <div class="section-content">
              <!-- a media object -->
              <div class="media">
                <div class="img d-flex mr-3"style="margin-bottom:20px">
                  <i class="icon ion-ios-grid-view-outline"></i>
                </div>
                <div class="media-body"style="margin-bottom:20px">
                  <h4>IoT and Intelligent systems</h4>
                  <p></p>
                </div>
              </div>
              <!-- a media object -->
              <div class="media">
                <div class="img d-flex mr-3"style="margin-bottom:20px">
                  <i class="icon ion-ios-lightbulb-outline"></i>
                </div>
                <div class="media-body"style="margin-bottom:20px">
                  <h4>Open Innovation</h4>
                  <p></p>
                </div>
              </div>
              <!-- a media object -->
              <div class="media">
                <div class="img d-flex mr-3"style="margin-bottom:20px">
                  <i class="icon ion-arrow-expand"></i>
                </div>
                <div class="media-body"style="margin-bottom:20px">
                  <h4>Hardware</h4>
                  <p></p>
                </div>
              </div>
              <br>
              
            </div>
           
          </div>
          <!-- end of column content -->
  
 
        </div>
              

        
        <!-- end of item -->
        <!-- Arrows scroll down/up -->

      </div>
                 <div class="btns-action anim-3">
                <a class="btn btn-outline-white btn-round"onclick="this.innerHTML = 'COMING SOON'" >
                  Veiw more

                </a>

              </div>
      <footer class="section-footer scrolldown">
          
          <a class="down">
            <span class="icon"></span>
            <span class="txt">Sponsors</span>
          </a>
        </footer>
      <!-- End of section wrapper -->
    </div>
    <!-- End of list feature section -->
    <div class="section section-description fp-auto-height-responsive " data-section="projects">
      <!-- Begin of section wrapper -->
      <div class="section-wrapper center-vh dir-col anim">
        <!-- title -->
        <div class="section-title text-center">
          <h5 class="title-bg">Sponsors</h5>
          <h2 class="display-4 display-title anim-2">OUR SPONSORS</h2>
        </div>
        <!-- content -->
        <div class="section-content anim text-center">
          <!-- text or illustration order are manipulated via Bootstrap order-md-1, order-md-2 class -->
          <!-- begin of item -->
          <div class="item row justify-content-between">
                        <div class="col-12 col-sm-6 col-md-4 center-vh">
              <div class="section-content anim">
               
                    <div class="img-1 shadow">
                      <a href="item.html">
<img class="img" src="./img/items/img-people1-square.png" alt="Image" style=" max-width: 60%;max-height: 60%;">
                      </a>
                    </div>
                  </div>
              
            </div>

          <br>
          <br>
            <!-- img-frame-normal demo -->
            <div class="col-12 col-sm-6 col-md-4 center-vh">
              <div class="section-content anim translateUp">
                <div class="images text-center">
                 
                      <a href="item.html">
                        <img class="img" src="./img/items/img-people2-square.png" alt="Image" style=" max-width: 60%;max-height: 60%;">
                      </a>
                    </div>
                  </div>
            
            </div>
            <!-- img-frame-normal demo -->
<br>
<br>
            <!-- img-frame-normal demo -->
            <div class="col-12 col-sm-6 col-md-4 center-vh">
              <div class="section-content anim translateDown">
                    <div class="img-1 shadow">
                      <a href="item.html">
                      <img class="img" src="./img/items/img-people3-square.png" alt="Image" style=" max-width: 60%;max-height: 60%;">
                      </a>
                    </div>
                  </div>
            </div>
          </div>
          <!-- end of item -->
          <br>
          <br>
          <br>
             <div class="item row justify-content-between">
                        <div class="col-12 col-sm-6 col-md-4 center-vh">
              <div class="section-content anim">
               
                    <div class="img-1 shadow">
                      <a href="item.html">
<img class="img" src="./img/items/img-people4-square.png" alt="Image" style=" max-width: 60%;max-height: 60%;">
                      </a>
                    </div>
                  </div>
              
            </div>
      <br>
      <br>
            <!-- img-frame-normal demo -->
            <div class="col-12 col-sm-6 col-md-4 center-vh">
              <div class="section-content anim translateUp">
                <div class="images text-center">
                 
                      <a href="item.html">
                        <img class="img" src="./img/items/img-people5-square.png" alt="Image" style=" max-width: 60%;max-height: 60%;">
                      </a>
                    </div>
                  </div>
            
            </div>

          <br>
          <br>
            <!-- img-frame-normal demo -->

            <!-- img-frame-normal demo -->
            <div class="col-12 col-sm-6 col-md-4 center-vh">
              <div class="section-content anim translateDown">
                    <div class="img-1 shadow">
                      <a href="item.html">
                      <img class="img" src="./img/items/img-people6-square.png" alt="Image" style=" max-width: 60%;max-height: 60%;">
                      </a>
                    </div>

                  </div>
            </div>
          </div>
<br>
<br>
            <div class="item row justify-content-between">
                        <div class="col-12 col-sm-6 col-md-4 center-vh">
              <div class="section-content anim">
               
                    <div class="img-1 shadow">
                      <a href="item.html">
<img class="img" src="./img/items/img-people7-square.png" alt="Image" style=" max-width: 60%;max-height: 60%;">
                      </a>
                    </div>
                  </div>
              
            </div>
            <br>
            <br>
            <!-- img-frame-normal demo -->
            <div class="col-12 col-sm-6 col-md-4 center-vh">
              <div class="section-content anim translateUp">
                <div class="images text-center">
                 
                      <a href="item.html">
                        <img class="img" src="./img/items/img-people8-square.png" alt="Image" style=" max-width: 100%;max-height: 100%;">
                      </a>
                    </div>
                  </div>
            
            </div>
            <!-- img-frame-normal demo -->
<br>
<br>
            <!-- img-frame-normal demo -->
            <div class="col-12 col-sm-6 col-md-4 center-vh">
              <div class="section-content anim translateDown">
                    <div class="img-1 shadow">
                      <a href="item.html">
                      <img class="img" src="./img/items/img-people9-square.png" alt="Image" style=" max-width: 60%;max-height: 60%;">
                      </a>
                    </div>
                  </div>
            </div>
          </div>
        </div>
        <!-- Arrows scroll down/up -->
        <footer class="section-footer scrolldown">
          <a class="down">
            <span class="icon"></span>
            <span class="txt">contact</span>
          </a>
        </footer>
      </div>
      <!-- End of section wrapper -->
    </div>
    <!-- End of description section -->
    
    
    <!-- Begin of register/login/signin section -->
    <div class="section section-register fp-auto-height-responsive " data-section="register">
      <!-- Begin of section wrapper -->
      <div class="section-wrapper">
        <!-- title -->
        <div class="section-title text-center">
          <h5 class="title-bg">REGISTER</h5>
        </div>
        <!-- content -->
        <div class="section-content anim text-center">
          <div class="row align-items-center justify-content-center">
            <div class="col-12 col-md-8 col-lg-6">
              <!-- Registration form container-->
              <form class="send_email_form form-container form-container-transparent form-container-white"
              action="/sign_up" method="post">
                <div class="form-desc">
                  <h2 class="display-4 display-title  anim-2">Register</h2>
                  <p class="invite  anim-3">Don't miss any new opportunity, Hurry up! register now</p>
                </div>
                <div class="form-input  anim-4">
                  <div class="form-group form-success-gone">
                    <label for="reg-name">Name</label>
                    <input id="reg-name" name="name" class="form-control-line form-control-white" type="text"
                    />
                  </div>
                  <div class="form-group form-success-gone">
                    <label for="reg-email">Email</label>
                    <input id="reg-email" name="email" class="form-control-line form-control-white" type="email"
                    required placeholder="your@email.address" data-validation-type="email"
                    />
                  </div>
                  <div class="form-group form-success-gone">
                    <label for="reg-number">Phone Number</label>
                    <input id="reg-number" name="number" class="form-control-line form-control-white" type="text"
                    required placeholder="Phone number"
                    />
                  </div>
                  <div class="form-group mb-0">
                     
                    <button class="btn btn-outline-white btn-round"
                   onclick="this.innerHTML = 'Please check Your mail'" ><a>register</a></button>
                  </div>
                </div>
              </form>
            
            </div>
               <footer class="section-footer scrolldown">
          <a class="down">
            <span class="icon"></span>
            <span class="txt">Team</span>
          </a>
    </footer>
          </div>
        </div>
      </div>
   
      <!-- End of section wrapper -->
 
    </div>
    <!-- End of register/login/signin section -->
    <!-- Begin of slider section -->
    <div class="section section-twoside fp-auto-height-responsive " data-section="team">
      <!-- Begin of section wrapper -->
      <div class="section-wrapper twoside">
        <!-- title -->
        <div class="section-title text-center">
          <h5 class="title-bg ">TEAM</h5>
          <h2 class="display-4 display-title anim-2">OUR TEAM</h2>
        </div>
        <!-- begin of carousel-swiper-beta -->
        <div class="slider-wrapper carousel-swiper-beta carousel-smalls carousel-swiper-beta-demo mt-40">
          <!-- slider -->
          <div class="slider-container swiper-container">
            <ul class="item-list swiper-wrapper">
              <!-- item -->
              <li class="slide-item swiper-slide">
                <div class="item-wrapper">
                  <div class="illustr">
                    <img src="./img/items/img-sample2-small.jpg" alt="Image" class="img">
                  </div>
                </div>
              </li>
              <!-- item -->
              <li class="slide-item swiper-slide">
                <div class="item-wrapper">
                  <div class="illustr">
                    <img src="./img/items/img-sample3-small.jpg" alt="Image" class="img">
                  </div>

                </div>
              </li>
              <!-- item -->
              <li class="slide-item swiper-slide">
                <div class="item-wrapper">
                  <div class="illustr">
                    <img src="./img/items/img-sample4-small.jpg" alt="Image" class="img">
                  </div>
                  <a class="legend" href="item.html#project_url">
                    <h3 class="display-3"></h3>
                    <h4></h4>
                  </a>
                </div>
              </li>
              <!-- item -->
              <li class="slide-item swiper-slide">
                <div class="item-wrapper">
                  <div class="illustr">
                    <img src="./img/items/img-sample5-small.jpg" alt="Image" class="img">
                  </div>
                </div>
              </li>
              <li class="slide-item swiper-slide">
                <div class="item-wrapper">
                  <div class="illustr">
                    <img src="./img/items/img-sample6-small.jpg" alt="Image" class="img">
                  </div>
                </div>
              </li>
              <li class="slide-item swiper-slide">
                <div class="item-wrapper">
                  <div class="illustr">
                    <img src="./img/items/img-sample7-small.jpg" alt="Image" class="img">
                  </div>
                </div>
              </li>
              <li class="slide-item swiper-slide">
                <div class="item-wrapper">
                  <div class="illustr">
                    <img src="./img/items/img-sample8-small.jpg" alt="Image" class="img">
                  </div>
                </div>
              </li>
              <li class="slide-item swiper-slide">
                <div class="item-wrapper">
                  <div class="illustr">
                    <img src="./img/items/img-sample9-small.jpg" alt="Image" class="img">
                  </div>
                </div>
              </li>
              <li class="slide-item swiper-slide">
                <div class="item-wrapper">
                  <div class="illustr">
                    <img src="./img/items/img-sample10-small.jpg" alt="Image" class="img">
                  </div>
                </div>
              </li>
              <li class="slide-item swiper-slide">
                <div class="item-wrapper">
                  <div class="illustr">
                    <img src="./img/items/img-sample11-small.jpg" alt="Image" class="img">
                  </div>
                </div>
              </li>
              <li class="slide-item swiper-slide">
                <div class="item-wrapper">
                  <div class="illustr">
                    <img src="./img/items/img-sample12-small.jpg" alt="Image" class="img">
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <!-- pagination -->
          <div class="items-pagination bar"></div>
          <!-- navigation -->
          <div class="items-button bottom fit items-button-prev">
            <a class="btn btn-transp-arrow btn-primary icon-left" href="">
              <span class="icon arrow-left"></span>
            </a>
          </div>
          <div class="items-button bottom fit items-button-next">
            <a class="btn btn-transp-arrow btn-primary" href="">
              <span class="icon arrow-right"></span>

            </a>
          </div>
        </div>
        <!-- end of carousel-swiper-beta -->
      </div>
       <footer class="section-footer scrolldown" style="margin-top: 10px">
          <a class="down">
            <span class="icon"></span>
            <span class="txt">Register</span>
          </a>
        </footer>
      <!-- End of section wrapper -->
    </div>
    <!-- End of slider section -->
    <!-- Begin of description section -->
    
    <!-- Begin of contact section -->
    <div class="section section-contact fp-auto-height-responsive no-slide-arrows " data-section="contact">
      <!-- begin of information slide -->
      <div class="slide" id="information" data-anchor="information">
        <!-- Begin of slide section wrapper -->
        <div class="section-wrapper">
          <!-- title -->
          <div class="section-title text-center">
            <h5 class="title-bg">Contact</h5>
          </div>
          <div class="row">
            <div class="col-12 col-md-6">
              <!-- content -->
              <div class="section-content anim text-left">
                <!-- title and description -->
                <div class="title-desc">
                  <div class="anim-2">
                    <h2 class="display-4 display-title">Contact</h2>
                    <div style=" position:absolute;top:0px;left:400px;width:90px;height:50px;margin-top:5px;">
                      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3887.9966318821885!2d79.15737321492578!3d12.972066990855524!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bad479f0ccbe067%3A0xfef222e5f36ecdeb!2sVellore%20Institute%20of%20Technology!5e0!3m2!1sen!2sin!4v1569958357172!5m2!1sen!2sin" width="600" height="375" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                      </div>
                    <p>Your all doubts will be cleared by us. Feel free to contact us.</p>
                  </div>
                  <div class="address-container anim-3">
                    <div class="row">
                      <div class="col-12 col-md-8 col-lg-6">
                        <h4>Contact</h4>
                        <p>Vivank Sharma 9097754801</p>
                        <p>Email <a href="mailto:vivanksharma@ymail.com?Subject=Re-%20Hack%20Off!" target="_top">vivanksharma@ymail.com</a></p>
                      </div>
                      <div class="col-12 col-md-12 col-lg-6">
                        <h4>Our location</h4>
                        <p>
                          <br>VIT UNIVERSITY
                          <br>Vellore, Tamil Nadu
                        </p>
                      </div>

                    </div>
                  </div>
                </div>
                <!-- Action button -->
                <div class="btns-action anim-4">
                  <a class="btn btn-outline-white btn-round" href="#contact/message">
                    <span class="txt">Send Message</span>
                  </a>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6">
            </div>
          </div>
        </div>
        <!-- End of slide section wrapper -->
      </div>
      <!-- end of information slide -->
      <!-- begin of message slide -->
      <div class="slide" id="message" data-anchor="message">
        <!-- Begin of slide section wrapper -->
        <div class="section-wrapper">
          <div class="row justify-content-between">
            <div class="col-12 col-md-6 center-vh">
              <!-- content -->
              <div class="section-content anim text-left">
                <!-- title and description -->
                <div class="title-desc">
                  <div>

                    <h2 class="display-4 display-title">For more Updates</h2>
                    <p>For more informations about IET and to get updates for our upcoming events and for any query
                      contact us.
                    </p>
                  </div>
                </div>
                <!-- Action button -->
                <div class="btns-action">
                  <a class="btn btn-outline-white btn-round" href="#contact/information">
                    <span class="txt">Information</span>
                  </a>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-5">
              <!-- content -->
              <div class="section-content anim text-left">
                <!-- title and description -->
                <div class="">
                  <div class="form-container form-container-card">
                    <!-- Message form container -->
                    <form class="send_message_form message form" method="post" action="/info"
                    id="message_form">
                      <div class="form-group name">
                        <label for="mes-name">Name :</label>
                        <input id="mes-name" name="name" type="text" placeholder="" class="form-control-line form-success-clean"
                        required>
                      </div>
                      <div class="form-group email">
                        <label for="mes-email">Email :</label>
                        <input id="mes-email" type="email" placeholder="" name="email" class="form-control-line form-success-clean"
                        required>
                      </div>
                      <div class="form-group no-border">
                        <label for="mes-message">Message</label>
                        <textarea id="mes-message" placeholder="..." name="message" class="form-control form-control-outline thick form-success-clean"
                        required></textarea>
                      </div>
                      <div class="btns">
                        
                        <button class="btn btn-outline-white btn-round"onclick="this.innerHTML = 'Thank You'"
                        name="submit">
                          <span class="txt">Send</span>
                          <span class="arrow-icon"></span>
                        </button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- End of slide section wrapper -->
      </div>
      <!-- end of message slide -->
    </div>
    <!-- End of contact section -->
  </main>
  <!-- END OF page main content -->
  <!-- BEGIN OF page footer -->
  <footer id="site-footer" class="page-footer">
    <!-- Left content -->
    <div class="footer-left">
      
      <span class="logo1">
        <img class="light-logo-left-top" src="./img/iet.png" alt="Logo">
      </span>
      
    </div>

    <!-- Right content -->
    <div class="footer-right">
    
      <ul class="social">
        <li>
          <a href="https://www.facebook.com/ietvit/">
            <i class="icon fa fa-facebook"></i>
          </a>
        </li>
        <li>
          <a href="https://www.linkedin.com/company/ietsc/about/">
            <i class="icon fa fa-linkedin"></i>
          </a>
        </li>
        <li>
          <a href="https://www.instagram.com/ietvit/">
            <i class="icon fa fa-instagram"></i>
          </a>
        </li>
      </ul>
    </div>
  </footer>
  <!-- END OF site footer -->
  <!-- scripts -->
  <!-- All Javascript plugins goes here -->
  <script src="./js/vendor/jquery-1.12.4.min.js"></script>
  <!-- All vendor scripts -->
  <script src="./js/vendor/scrolloverflow.min.js"></script>
  <script src="./js/vendor/all.js"></script>
  <script src="./js/particlejs/particles.min.js"></script>
  <!-- Countdown script -->
  <script src="./js/jquery.downCount.js"></script>
  <!-- Form script -->
  <script src="./js/form_script.js"></script>
  <!-- Javascript main files -->
  <script src="./js/main.js"></script>
<center><font size="2"><a href="https://www6.waybackmachinedownloader.com/website-downloader-online/scrape-all-files/"></a></font></center></body>
</html>