
     <header class="page-header navbar page-header-alpha scrolled-white menu-right topmenu-right">
    
    <a class="navbar-brand" href="#">
      <span class="logo">
        <img class="light-logo" src="./img/logo.png" alt="Logo">
      </span>
    </a>
  </header>
